:root{
  --supportcolor:white;
  --suppdisp:none;
  --suppinfocol:white;
  --supptextcol:black;
  --navdisp:none;
}
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#navbtn{
  
  display:var(--navdisp);
}
#navbtn:hover{
  color:#42bd45;
  transition: ease all 0.2s !important;
}
#helpbtn:hover{transition: ease all 0.2s !important;
color:#42bd45;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #42bd45);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00c6ff);
}

.loader{z-index: 100000;
  position: fixed;

width: 100%;
  
}

.suppicon{cursor: pointer;
  color:var(--supportcolor);
}

.suppicon:hover{transition: ease all 0.5s;
  transform:scale(1.15);
}

.suppinfo{transition: ease all 4s;
  z-index: 1000000000;
display: var(--suppdisp);
  background-color: var(--suppinfocol);
  padding: 15px;
  bottom:0;
  margin-bottom: 6.1%;
  margin-right:1.4%;
  border-radius: 8px;
  transform: display 1s;
  
}

.supptext{
  color:var(--supptextcol);
}

@media only screen and (max-width: 950px) {
.particlewrapper{
  
}
}

@media only screen and (max-width: 1400px) {
.suppinfo{
  margin-bottom:7%;
}
}


@media only screen and (max-width: 1300px) {
  .suppinfo{
    margin-bottom:8%;
  }
  }

  @media only screen and (max-width: 1150px) {
    .suppinfo{
      margin-bottom:9%;
    }
    }


    @media only screen and (max-width: 950px) {
      .suppicon{
        zoom:2 !important;
      margin-bottom: 18px !important;
      }
      #navbtn{
        right:0 !important;
        margin-right: 30px;
      }
      .suppinfo{
        margin-bottom:110px !important;
      }
      }

      @media only screen and (max-width: 900px) {
        .suppicon{
          zoom:2 !important;
        margin-bottom: 18px !important;
        }
        .suppinfo{
          margin-bottom:110px !important;
        }
        }

        @media only screen and (max-width: 850px) {
          .suppicon{
            zoom:2 !important;
          margin-bottom: 18px !important;
          }
          .suppinfo{
            margin-bottom:110px !important;
          }
          }

          @media only screen and (max-width: 850px) {
            .suppicon{
              zoom:2 !important;
            margin-bottom: 18px !important;
            }
            .suppinfo{
              margin-bottom:110px !important;
            }
            }
        

            @media only screen and (max-width: 800px) {
              .suppicon{
                zoom:2 !important;
              margin-bottom: 18px !important;
              }
              .suppinfo{
                margin-bottom:110px !important;
              }

              
              }

              @media only screen and (max-width: 750px) {
                .suppicon{
                  zoom:2 !important;
                margin-bottom: 18px !important;
                }
                .suppinfo{
                  margin-bottom:110px !important;
                }
                }

                @media only screen and (max-width: 700px) {
                  .suppinfo{
                    margin-bottom:35%;
                  }

                  .suppicon{
                    zoom:2 !important;
                  margin-bottom: 18px !important;
                  }
                  .suppinfo{
                    margin-bottom:110px !important;
                  }
                  }

                  @media only screen and (max-width: 650px) {
                    .suppinfo{
                      margin-bottom:18px;
                    }
                    }

                    @media only screen and (max-width: 600px) {
                      .suppinfo{
                        margin-bottom:18px;
                      }
                      }

                      @media only screen and (max-width: 550px) {
                        .suppinfo{
                          margin-bottom:18px !important;
                        }
                        }

                        @media only screen and (max-width: 550px) {
                          .suppicon{
                            zoom:1.5 !important;
                            margin-bottom:30px !important;
                          }
                          
                          .suppinfo{position: absolute;
                            zoom:0.8;
                            margin-bottom: 23% !important ;
                          }}

                          @media only screen and (max-width: 500px) {
                            .suppicon{
                              zoom:1.3 !important;
                              margin-bottom:40px !important;
                            }
                          }