.footer__body {
  background-color: grey;
  height: 27vh; /*woh black part hatane ki koshish kar rahi hoon*/
  width: 100%;
  position: absolute;
  bottom: 0;
}
.credits{
  display: flex;
  align-items: center;
  justify-content: center;
}
.creditstext{position: absolute;
  bottom:0;
  display:flex;
  align-items: center;
  z-index: 10000;
  color:black;
}
.aanviklogo1 {
  width: 120px;
}
.navList ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navList {
  margin-top: 17px;
}

.navList ul li {
  margin: 10px 25px;
  margin-bottom: -10px;
  list-style: none;
}

.navList ul li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  /* border-radius: 5px;  */
  background-color: white;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
}

.navList ul li a::before {
  content: "";
  width: 10px;
  position: absolute;
  background: #b1b1b1;
  height: 100%;
  top: 5px;
  left: -10px;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

.navList ul li a::after {
  content: "";
  width: 100%;
  position: absolute;
  background: #b1b1b1;
  height: 10px;
  bottom: -10px;
  left: -5px;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

.navList ul li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(20px, -20px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 700px) {
  .navList ul li{
    margin: 10px 17px;
    margin-top: 20px;
  }
  .navList ul li a{
    zoom:0.8;
  }
}
@media only screen and (max-width: 600px) {
  .navList ul li{
    margin: 10px 15px;
    margin-top: 20px;
  }
  .navList ul li a{
    zoom:0.7;
  }
}
@media only screen and (max-width: 450px) {
  .navList ul li a{
    zoom:0.6 !important;
  }
}
